body {
    background: rgb(158,219,252);
    background: linear-gradient(90deg, rgba(158,219,252,1) 16%, rgba(202,165,228,1) 35%, rgba(202,165,228,1) 65%, rgba(83,102,241,1) 100%);
    overflow: hidden;
}

.bodyBg {
    background: rgb(158,219,252);
    background: linear-gradient(90deg, rgba(158,219,252,1) 16%, rgba(202,165,228,1) 35%, rgba(202,165,228,1) 65%, rgba(83,102,241,1) 100%);
}

.bodyBg2{
    background: rgb(54,47,83);
background: linear-gradient(90deg, rgba(54,47,83,1) 16%, rgba(78,56,77,1) 35%, rgba(78,56,77,1) 65%, rgba(80,83,83,1) 100%);
}

.headerBg{
    background-color: white;
}

.headerBg2{
    background-color: #2f2f2f !important;
}

.black{
    color: black;
}

.locationSize {
    font-size: 35px;
}

.mainCardPadd {
    padding: 6% 8% 4% 8%;
}

.infoPadding {
    padding: 3% 4% 2% 4%;
}

.txtCenter {
    text-align: center;
}

.bottom{
    display: flex;
    align-items: end;
}

.mainIconSize {
    height: 90%;
    margin-left: -20px;
}

.bottom {
    display: flex;
    align-items: end;
}

.center {
    display: flex;
    justify-content: center;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.forecastOpacity{
    background: rgba(255, 255, 255, 0.526);
}

.forecastOpacity2{
    background: #2f2f2f81
}

.forecastIcon {
    height: 50px;
}

.end {
    display: flex;
   justify-content: end;
}

.threeHrIcon{
    height: 110%;
}

@font-face {
    font-family: Philosopher;
    src: url(../assets/Philosopher-Regular.ttf);
}

@font-face {
    font-family: Roboto Regular;
    src: url(../assets/Roboto-Regular.ttf);
}

.philosopher {
    font-family: Philosopher;
}

.philosopher2 {
    font-family: Philosopher;
    text-align: center;
    font-size: 60px;
    margin-top: -12px;
}


.hov:hover {
    background-color: white;
    cursor: pointer;
}

.hov2:hover {
    color: red;
    cursor: pointer;
}

.hov4:hover {
    background-color: rgb(87, 87, 87);
    cursor: pointer;
}

.dotLine {
    width: 1px;
    line-height: 10px;
    margin-top: -20px;
}

.borderR{
    border-radius: 20px;
}

@font-face {
    font-family: Roboto;
    src: url(../assets/Roboto-Light.ttf);
}

.roboto {
    font-family: Roboto;
    font-size: 30px;
    letter-spacing: 7px;
}

.roboto2 {
    font-family: Roboto;
    font-size: 25px;
    text-align: center;
}

.roboto3 {
    font-family: Roboto;
}

.roboto4 {
    font-family: Roboto Regular;
    font-size: 20px;
}
    
.dots{
    letter-spacing: 5.5px;
}

.offcanvas {
    background-color: rgba(255, 255, 255, 0.70);
}

.modal-dialog{
    max-width: 45vw;
}

.sun {
    width: 75vw;
    position: absolute;
    top: 15vh;
    right: 50vw;
    z-index: 0;
    border-radius: 50%;
}

.moon {
    width: 60vw;
    position: absolute;
    top: 25vh;
    left: 48vw;
    z-index: 0;
    border-radius: 50%;
}

.btn-light {
    z-index: 1;
}

.btn-primary {
    background-color: #bdb8f8;
    border-color: #bdb8f8;
}

.white {
    color: white;
}
